@model TP5.ViewModels.CadetesViewModels;
@{
TP5.Models.FuncionesDB funciones= new TP5.Models.FuncionesDB();
List<int>lista=funciones.recuperarIDcadeteria();
}
@{
    ViewData["Title"] = "CadeteRecibir Page";
}




<h3>Alta de cadetes</h3>
<!-- Asp controller: Carpeta del controlador , asp-action: Pagina a mostrar/donde mandar los datos-->
<form asp-controller="Cadete" asp-action="AgregarCadetes" method="post">
    <label asp-for="@Model.Nombre">Nombre: 
        <input type="text" asp-for="@Model.Nombre" >
    </label>
    <label asp-for="@Model.Direccion">Direccion: 
        <input type="text" asp-for="@Model.Direccion" >
    </label>
    <label asp-for="@Model.Telefono1" >Telefono: 
        <input type="text" asp-for="@Model.Telefono1" >
    </label>
    <label asp-for="@Model.Id_Cadeteria">ID de la cadeteria: </label>
        <select asp-for="@Model.Id_Cadeteria">
            @foreach (var item in lista)
            {
                <option value="@item">@item</option>
            }
        </select>
    <input type="submit" value="Enviar">
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> } 
