@model List<TP5.Models.Cadete>;
@using TP5.ViewModels;

@{
    ViewData["Title"] = "Listado de Cadetes";
}

<main>
    <section class="contenedor-boton">
        <ul>
            <li>
                <a href="Cadete/CadeteRecibir">Alta de Cadetes</a>
            </li>
        </ul>
    </section>

    <h3 class="listado-titulo">Listado de cadetes</h3>

    <table class="tabla-primera">
        <tr>
            <th>ID del Cadete</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono1</td>
                <td><a asp-controller="Cadete" asp-action="EditarCadetes" asp-route-id="@item.Id">Editar</a></td><td><a asp-controller="Cadete" asp-action="EliminarCadetes" asp-route-id="@item.Id">Borrar</a></td>
            </tr>
        }
    </table>
</main>
