@model TP5.ViewModels.PedidosViewModels
@{
    ViewData["Title"] = "Alta de Pedidos";
}

@{
TP5.Models.FuncionesDB funciones= new TP5.Models.FuncionesDB();
List<int>listaCliente=funciones.recuperarIDclientes();
List<int>listaCadete= funciones.recuperarIDcadetes();
}


<h3>Alta de Pedidos</h3>

<form asp-controller="Pedido" asp-action="AgregarPedidos" method="post">
    <label asp-for="@Model.Obs"> Observacion: 
        <input type="text" asp-for="@Model.Obs">
    </label>
    <label asp-for="@Model.Cliente">ID del cliente:  </label>
        <select asp-for="@Model.Cliente">
            @foreach (var item in listaCliente)
            {
                <option value="@item">@item</option>
            }
        </select>
    <label asp-for="@Model.EstadoNuevo">Estado: </label>
        <input asp-for="@Model.EstadoNuevo" type="text">
    <label asp-for="@Model.id_cadete">ID del cadete:  </label>
        <select asp-for="@Model.id_cadete">
            @foreach (var item in listaCadete)
            {
                <option value="@item">@item</option>
            }
        </select>
    <input type="submit" value="Enviar">
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> } 
